.container_result{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.question {
    margin: 2rem 2rem;
    padding: 2.5rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: auto;
    font-size: 16px;
    font-weight: bold;
    background: rgba(83, 83, 240, 0.822);
  }
  .answer_user {
    margin: 2rem 2rem;
    padding: 2.5rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: auto;
    font-size: 16px;
    background: rgba(83, 203, 240, 0.822);
  }
  .answer_users {
    margin: 2rem 2rem;
    padding: 2.5rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: auto;
    font-size: 16px;
    background: rgba(166, 245, 92, 0.822);
  }
  body{
     background: linear-gradient(120deg, #46f0fc, #176ee7);
  }
.graph {
  margin: 3em;
  height: 400px;
}
/* .graph {
  width: 100%;
  max-width: 700px;
  height: 400px;        
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  background: white;
}
.result_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.result_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.graph {
  width: 100%;
  max-width: 700px;
  height: 400px;      /* גובה אמיתי */
  display: block;     /* לא flex */
  margin: 20px auto;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}