.container_result{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.question {
    margin: 2rem 2rem;
    padding: 2.5rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: auto;
    font-size: 16px;
    font-weight: bold;
    background: rgba(83, 83, 240, 0.822);
  }
  .answer_user {
    margin: 2rem 2rem;
    padding: 2.5rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: auto;
    font-size: 16px;
    background: rgba(83, 203, 240, 0.822);
  }
  .answer_users {
    margin: 2rem 2rem;
    padding: 2.5rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: auto;
    font-size: 16px;
    background: rgba(166, 245, 92, 0.822);
  }
  body{
     background: linear-gradient(120deg, #46f0fc, #176ee7);
  }
