
.singin-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
 
  font-family: 'Segoe UI', sans-serif;
}

.singin-form {
  margin: 2rem auto;
  background: #19e4f3;
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 380px;
  max-width: 90%;
  border: solid 1px #66a6ff;

}

.singin-form h1 {
  text-align: center;
  color: #473ab8;
  margin-bottom: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}



.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border 0.3s;
  font-size: 15px;
  width: 100%;
  margin: 0 auto;
}

.form-group input:focus {
  border-color: #66a6ff;
  outline: none;

}

.error {
  color: #e63946;
  font-size: 0.85rem;
  margin-top: 4px;
}

.server-error {
  background: #ffe4e1;
  color: #d32f2f;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 1rem;
  text-align: center;
}

.singin-btn {
  background: #66a6ff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 12px;
  width: 100px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

.singin-btn:hover:not(:disabled) {
  background: #4a90e2;
}

.singin-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}
.singin-success {
  position: absolute;
  background: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 1rem;
  text-align: center;
  z-index: 10;
}